{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}Newsletter Plugin{% endblock %}
{% block admin_page_title_content %}Newsletter Plugin{% endblock %}
{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ Newscoop['WEBSITE_URL'] }}/public/bundles/newscoopnewsletterplugin/css/DT_bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ Newscoop['WEBSITE_URL'] }}/public/bundles/newscoopnewsletterplugin/css/bootstrap.min.css">
{% endblock %}
{% block admin_scripts %}
<script type="text/javascript" src="{{ Newscoop['WEBSITE_URL'] }}/public/bundles/newscoopnewsletterplugin/js/DT_bootstrap.js"></script>

{% endblock %}
{% block admin_content %}
      
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="listsTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Subscribers</th>
            <th>Open rate</th>
            <th>Click rate</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {% for list in lists.data %}
        <tr>
            <td>{{ list.name }}</td>
            <td>{{ list.stats.member_count }}</td>
            <td>{% if list.stats.open_rate %} {{ list.stats.open_rate }} {% else %} 0.0% {% endif %}</td>
            <td>{% if list.stats.click_rate %} {{ list.stats.click_rate }} {% else %} 0.0% {% endif %}</td>
            <td>{{ list.date_created }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}