<script type="text/javascript">
$(document).ready(function() {
    $('#btn').click(function() {
        $.ajax({
            type: "POST",
            url: $('#form').attr("action"),
            data: $('#form').serialize(),
            dataType: "json",
            success: function(msg){
                $('#errors').empty();
                if (msg.status) {
                    $('#errors').append('<div class="alert alert-success">Successfully subscribed! We sent you confirmation email. Please confirm your subscription.</div>');
                } else {
                    if (!msg.error) {
                        $('#errors').append('<div class="alert alert-error">You must choose at least one list!</div>');
                    } else {
                        $('#errors').append('<div class="alert alert-error">'+msg.error+'</div>');
                    }
                }
            }
        });
    });
});
</script>
<div class="thumbnail center well well-small text-center">
    <form id="form" action="{{ path('newscoop_newsletter_plugin_subscribe') }}" method="post">
        <div id="errors"></div>
        <h2>Newsletter</h2>
        <p>Subscribe to our weekly Newsletter and stay tuned.</p>
        <p>Available lists:</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Subscribers</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
            {% for list in lists.data %}
                <tr id="{{ list.id }}">
                    <td><input type="checkbox" name="lists[ids][]" value="{{ list.id }}"></td>
                    <td>{{ list.name }}</td>
                    <td>{{ list.stats.member_count }}</td>
                    <td>{{ list.date_created }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br />
        <input type="button" id="btn" value="Subscribe Now!" class="btn btn-large" />
    </form>
</div>